<%= render 'form',
article: @article,
submit: 'Update article',
heading: 'Edit article' %>




<%# So HTML sintaksa
<%# <form action="/articles" method="post">
  <p>
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title">
  </p>

  <p>
  <label for="body">Body:</label><br>
  <textarea id="body" name="body"></textarea>
  </p>

  <p>
  <input type="submit" value="Save article">

</form> %>

